<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jungian Dream Analyzer</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div>
        <h1 class="head">Tell me about your dream...</h1>
        <form method="POST" class="formbox">
            <div>
                <textarea name="prompt" rows="4" class="formtext" placeholder="Write your dream..."></textarea>
            </div>
            <div>
                <input type="submit" value="Analyze" class="formbutton">
            </div>
        </form>
        
        {% if result %}
            <h3 class="head">The Meaning:</h3>
            <div class="resultbox">{{ result }}</div>
        {% endif %}
        
        {% if img_url %}
        <img src="{{ url_for('static', filename='output.png') }}" width="90%" alt="output image"/>
        {% endif %}

    </div>
</body>
</html>
